.git
.gitignore
.venv
.env
.env.*
!.env.example
.python-version
.ruff_cache
.mypy_cache
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
dist
build
uv.lock
img
sql
docker-compose.yml
.dockerignore
Dockerfile
README.md
.claude
